<a href="https://colab.research.google.com/github/osum97/python_create_app_1/blob/master/%EC%8B%AC%ED%99%94%EB%8F%84%EC%A0%841_boston_%EC%A7%91%EA%B0%92_%EC%98%88%EC%B8%A1_%EB%AA%A8%EB%8D%B8_%EB%A7%8C%EB%93%A4%EA%B8%B0_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **심화도전1**
### **boston house prices 데이터를 이용한 <span style="color:darkgreen"> AI 예측</span>문제**
---

#### Boston의 지역특성과 가격 데이터를 이용하여 , Boston 집값을 예측하는 AI문제입니다.
#### AI코딩 단계에 따라 주어지는 문제를 읽고 답안을 작성하세요.
#### (boston house prices 데이터 : sklearn 내장 연습용 데이터셋 사용)

 - 데이터 : 회귀(수치)
 - 모델 : 다중 회귀 분석 심화(선형, lidge, Lasso, elastic,), DeepLearning
 - 주요 전처리 : 분석 Column 추가, 표준화(standardization), min-max Scaling
 - 주요 학습 내용 : 다중 회귀 분석 심화 내용, 회귀 예측 모델 생성(input, output 처리, 손실함수 등)
---

**boston house prices 데이터 컬럼 설명**
- TOWN
- LON : 위도
- LAT : 경도
- CMEDV : 집주인이 실제 거주하는 집들의 주택가격 중앙값 (단위 천달러)      
- CRIM : 자치시(town)별 1인당 범죄율
- ZN : 25,000 평방피트를 초과하는 거주지역의 비율
- INDUS : 비소매상업지역이 점유하고 있는 토지의 비율
- CHAS : 찰스강 근처는 1, 그렇지 않으면 0
- NOX : 10ppm당 일산화질소 농도
- RM : 주택 1가구당 평균 방의 개수
- AGE : 1940년 이전에 건축된 소유주택의 비율
- DIS : 5개의 보스턴 직업센터까지의 접근성 지수
- RAD : 방사형 도로까지의 접근성 지수
- TAX : 10,000달러 당 재산 새율
- PTRATIO : 자치시(town)별 학생/교사 비율
- B : 1000(Bk-0.63)^2, Bk는 자치시별 흑인의 비율
- LSTAT : 값 (단위 $1,000)'

<br>
<br>
<br>

### **Q1. Pandas를 pd로 alias하여 사용할 수 있도록 불러오는 코드를 작성하고 실행하시기 바랍니다.**
---

In [1]:
# 여기에 답안코드를 작성하세요

import pandas as pd

### **Q2. Numpy를 np로 alias하여 사용할 수 있도록 불러오는 코드를 작성하고 실행하시기 바랍니다.**
---

In [2]:
# 여기에 답안코드를 작성하세요

import numpy as np

### **Q3. 아래 가이드에 따라 BostonHousing3.csv 파일을 읽고 bhp 데이터프레임에 저장하세요.**
* **
- BostonHousing3.csv 파일 읽기
- 데이터 프레임의 변수 명은 bhp 로 한다.
---

In [3]:
# 여기에 답안코드를 작성하세요


bhp = pd.read_csv('BostonHousing3.csv')
bhp

,TOWN,LON,LAT,CMEDV,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,Nahant,-70.9550,42.2550,24.0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,Swampscott,-70.9500,42.2875,21.6,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,Swampscott,-70.9360,42.2830,34.7,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,Marblehead,-70.9280,42.2930,33.4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,Marblehead,-70.9220,42.2980,36.2,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,Winthrop,-70.9860,42.2312,22.4,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,Winthrop,-70.9910,42.2275,20.6,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,Winthrop,-70.9948,42.2260,23.9,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,Winthrop,-70.9875,42.2240,22.0,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,Winthrop,-70.9825,42.2210,19.0,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

### **Q4. 데이터 프레임 bhp에 대한 결측치 처리하세요.**
* **
- 결측치를 확인하세요.
- 범주형 컬럼에 대해서는 최빈값으로 채우세요.
- 연속형 컬럼에 대해서는 평균값으로 채우세요.
- 100개 이상의 결측치가 있는 컬럼은 삭제하에요.
- 결측치 처리 결과를 bhp_null 데이터프레임에 저장하세요.
---

In [5]:
# 여기에 답안코드를 작성하세요

bhp_null=bhp.copy()
bhp_null.isnull().sum() #TOWN 1개 LAT 140개 CRIM 1개
bhp_null.fillna()

TOWN         1
LON          0
LAT        140
CMEDV        0
CRIM         1
ZN           0
INDUS        0
CHAS         0
NOX          0
RM           0
AGE          0
DIS          0
RAD          0
TAX          0
PTRATIO      0
B            0
LSTAT        0
dtype: int64

### **Q5. 데이터 프레임 bhp_null에 대해 가이드대로 시각화 하세요.**
* **
- seaborn 임포트하세요
- seaborn의 histplot으로 그리세요.
  - x : CMEDV 컬럼
- 출력된 그래프를 보고 아래 보기 답안중에 틀린것을 변수05에 저장하세요(예, 변수05=5)
    1. CMEDV 값이 30 일때, 제일 높은 카운트를 보인다.
    2. 앞부분과 뒤부분의 분포가 적고 중간 20대 부근에 많은 분포를 보인다.
    3. CMEDV 값이 50 근처에 20에 가까운 카운트를 보여주고 있다.
---

In [ ]:
# 여기에 답안코드를 작성하세요

<br>

> **<span style="color:red">다음 문항을 풀기 전에 </span>아래 코드를 실행하시기 바랍니다.**
>

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(12,7))

<br>

### **Q6. 데이터 프레임 bhp_null에 대해 가이드대로 시각화 하세요.**
* **
- 숫자형 데이터에 대해서 heatmap 그래프를 그리세요.
  - 데이터 : 숫자형 데이터의 상관관계
  - heatmap 안에 상관관계 수치를 표시하세요.
  - CMEDV 컬럼과 가장 높은 상관관계를 갖는 컬러명을 변수06 저장하세요.(예, 변수06='컬럼명')
---

In [ ]:
# 여기에 답안코드를 작성하세요

### **Q7. 아래 가이드대로 데이터프레임을 만들고 그룹화하세요.**
* **
- TOWN 컬럼 값중에서 'Cambridge', 'Boston Savin Hill', 'Lynn' 3개의 값으로 구성된 bhp_town 데이터 프레임을 만드세요.
- TOWN 컬럼을 기준으로 그룹화하세요.
  - 대상 데이터프레임 : bhp_town
  - groupby 함수 활용하시고 각 컬럼의 평균을 출력하세요.
- 그룹화 결과에서  TOWN이 'Boston Savin Hill' 일때, CMEDV 컬럼의 값을 변수07 저장하세요.(예, 변수07=1.123457)
---

In [ ]:
# 여기에 답안코드를 작성하세요

### **Q8. 데이터 프레임 bhp_null에 대해 가이드대로 전처리하세요.**
* **
- 먼저, LON(위도) 컬럼을 삭제하세요.
- 그다음, TOWN 컬럼에 대해서 원-핫-인코딩 수행하세요
  - 대상 컬럼 : TOWN 컬럼
  - 판다스 get_dummies 함수 활용
  - 첫번째 가변수 삭제 처리 옵션 사용
- 전처리 결과를 bhp_preset 변수에 저장하세요.
---

In [ ]:
# 여기에 답안코드를 작성하세요

### **Q9. 데이터를 트레이닝셋 / 테스트셋으로 분할하시기 바랍니다.**
* **
- sklearn.model_selection 밑에 train_test_split 함수를 사용하세요.
- y는 bhp_preset 데이터프레임의 'CMEDV'컬럼이고 x는 그 나머지 컬럼이다.
- train : test = 8 : 2
- 컬럼 CHAS 를 이용하여 stratify 하게 분할한다.
- 변수명 규칙은 다음과 같다.
    * x_train, y_train
    * x_test, y_test
- random state, seed 등은 2021로 설정한다.

---

In [ ]:
# 여기에 답안코드를 작성하세요

### **Q10. 데이터의 NOX와 RM은 민맥스(min-max) 스케일링 하시기 바랍니다.**
* **
- sklearn.preprocessing 밑의  MinMaxScaler 함수 사용하세요.
- 트레이닝셋, 테스트셋에 대해서 스케일링 한다.
---

In [ ]:
# 여기에 답안코드를 작성하세요

### **Q11. 데이터의 RAD와 B는 표준화(standardization) 스케일링 하시기 바랍니다.**
* **
- sklearn.preprocessing 밑의  StandardScaler 함수 사용하세요.
- 트레이닝셋, 테스트셋에 대해서 스케일링 한다.
---

In [ ]:
# 여기에 답안코드를 작성하세요

### **Q12. 트레이닝 셋을 이용하여 선형회귀 모델을 학습시키시기 바랍니다.**
* **
- sklearn.linear_model 밑에 LinearRegression 함수 활용합니다.
- LinearRegression 모델 이름을 lr로 정의합니다.
- 트레이닝 데이터셋으로 학습을 진행합니다.
---

In [ ]:
# 여기에 답안코드를 작성하세요

### **Q13. 트레이닝 셋을 이용하여 RandomForest 모델을 학습시키시기 바랍니다.**
* **
- sklearn.ensemble 밑에 RandomForestRegressor 함수 활용합니다.
- RandomForestRegressor 모델 이름을 rfr로 정의합니다.
- 트레이닝 데이터셋으로 학습을 진행합니다.
- rfr 모델 정의시, n_estimators : 100, max_depth : 10 설정하세요
---

In [ ]:
# 여기에 답안코드를 작성하세요

### **Q13. 테스트 셋을 이용하여 학습된 2개 모델의 성능을 출력하시기 바랍니다.**
* **
- 앞의 lr 모델과 rfr 모델로 테스트셋을 예측하여 결과값을 각각 lr_pred, rfr_pred에 저장하세요.
- 평가를 위한 손실함수는 rmse, r2 를 이용하여 2개 모델에 대해서 rmse와 r2 성능을 출력하세요.
- sklearn.metrics 밑에 mean_squared_error , r2_score 함수 활용하세요.
---

In [ ]:
# 여기에 답안코드를 작성하세요

> **<span style="color:red">다음 문항을 풀기 전에 </span>아래 코드를 실행하시기 바랍니다.**
>

In [ ]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import Input, Dense, BatchNormalization
from tensorflow.keras.models import Sequential, Model
from tensorflow.keras.callbacks import ModelCheckpoint

### **Q14. 아래 조건에 맞추어 뉴럴네트워크 모델을 학습시키시기 바랍니다.**
* **
- Tensorflow framework를 사용한다.
- 히든레이어는 아래와 같은 규칙에 맞추어 구성합니다.
    * 2개 이상의 hidden layer를 사용할 것
    * FC layer뒤에는 batch normalization을 진행한다.
- ModelCheckpoint 콜백으로 validation performance가 좋은 모델을 best_model.keras 파일로 저장한다.
- 학습과정의 로그를 history에 선언하여 남긴다.
- epochs는 200번을 진행한다.
---

In [ ]:
# 여기에 답안코드를 작성하세요

### **Q17. 다음 조건에 맞추어 뉴럴네트워크의 학습 로그를 시각화 하시기 바랍니다.**
* **
- epochs에 따른 loss의 변화를 시각화 한다.
- loss와 val_loss를 둘다 시각화하고, 구별가능해야 한다.
- 그래프의 타이틀은 'Loss'로 표시한다.
- x축에는 'epochs'라고 표시하고 y축에는 'MSE'라고 표시한다.
---

In [ ]:
# 여기에 답안코드를 작성하세요